@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');

body {
    background-color: rgb(211, 211, 211);
}

main {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

.profile {
    width: 150px;
    height: 150px;
    moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid grey;
}

.mainsection {
    background-color: white;
    text-align: center;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    margin: 25px;
}

h1 {
    color: rgb(192, 1, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}


p {
    text-align: justify;
    padding: 10px;
}

.moviepic {
    width: 75px;
    padding-right: 10px;

}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h3 {
    text-align: center;
}

span {
    background-color: rgb(230, 230, 230);
}

.button {
    background-color: rgb(192, 1, 1);
    color: white;
    text-decoration: none;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-weight: 700;
}

i{
    font-size: 3em;
}

.icons {
    color: grey;
}

.sociallist {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: 70px;
}

strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}